.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #231903;
  padding-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

@media (max-width: 700px) {
  .App-header {
    flex-direction: column;
  }
  h1 {
    font-size: large;
  }
  .header-item:nth-of-type(2) {
    order: -1;
  }
  .header-item {
    margin-bottom: 2%;
    width: 100%;
    border-radius: 5px;
  }
  .newButton {
    width: 100%;
    font-size: small;
  }
}

@media (min-width: 701px) {
  h1 {
    font-size: xx-large;
  }
  .App-header {
    flex-direction: row;
  }
}

.newButton {
  font-family: "Mali", cursive;
  background-color: #d1f5d3;
  border-radius: 5px;
  border: solid;
  border-color: #d1f5d3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.newButton:hover {
  background-color: #9dc6a7;
  border: solid;
  border-color: #d1f5d3;
}

.topBox {
  background-color: #d1f5d3;
  border-radius: 5px;
  padding: 15px 32px;
}

.app-footer {
  color: #231903;
  margin-bottom: 1%;
  margin-top: 3%;
}

.app-footer a {
  color: #231903;
}
.app-footer a:hover {
  color: #7d5e2a;
}
