.card-back {
  background-color: antiquewhite;
}

.card-front {
  /* height: 150px;
    width: 150px;  */
  background-color: white;
}

.card {
  justify-content: center;
  margin: 5%;
  padding: 10%;
  border-radius: 5%;
}
