@import url("https://fonts.googleapis.com/css2?family=Mali:wght@600&display=swap");

body {
  background-color: #235952;
}

.App {
  text-align: center;
}

h1,
h3 {
  font-family: "Mali", cursive;
}


/* .body{
  display: flex;
  justify-content: center;
} */
